

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #45a049;
}




.title {
    float: left;
    width: 60%;
    margin-top: 6px;
    font-size: 20px;
    color: black;
}

.inputBox {
    float: left;
    width: 97%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

